 {{#each data}}
 <div class="container">
<a href={{this.link}}><h5>{{this.title}}</h5></a>


    
    {{/each}}
    Comments:<br>
    <textarea rows="5" cols="60"></textarea><br>
    <button class="btn btn-success" type="submit">Submit</button>

    </div>